body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#header #navigation .content {
  width: 60rem;
  margin: 1rem auto 0;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  left: 0;
  display: table;
}

#header .content .element.logo {
    width:1%;
    padding: 0 2rem 0 0;
}

#header #navigation .content .logo a {
}

#header #navigation .content .logo img {
  height: 2rem;
}

#header .content .element.featured {

}

#header .content .element.featured a {
  font-size: 1.2rem;
  font-weight: 500;
}

#header .content .element {
  display: table-cell;
  vertical-align: middle
}

#header #navigation .content .element:last-child {
  text-align: right
}

#header #navigation .content nav .menu {
  padding: 0
}

#header #navigation .content nav .menu li {
  display: inline-block;
}

#header #navigation .content nav .menu li:not(:last-child) {
  margin: 0 2rem 0 0;
}

#header .content .element.featured a, #header #navigation .content nav .menu li a {
  color: #fff;
}

#header #navigation .content nav .menu li a {
  font-size: 1.3rem;
  font-weight: 300;
}

#header #banner {
  height: 30rem;
  width: 100%
  background-color: #444;
  background-image: url('http://cso.localhost/img/banner.jpg');
  background-size: auto;
}
