* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  outline: none;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 1rem;
}

body {
  height: 100%;
  margin: 0 0 6.5rem 0;
  padding: 0;
}

a, a:hover, a:active {
  text-decoration: none!important;
}

a {
  -webkit-transition: 100ms all 70ms;
  -moz-transition: 100ms all 70ms;
  -o-transition: 100ms all 70ms;
  transition: 100ms all 70ms;
}

a:hover {
  color: #FF8F00!important;
  opacity: 0.7;
}

ul, ol {
  margin: 0;
}

.grey {
  color: #444;
}

.middle-grey {
  color: #777;
}

.light-grey {
  color: #aaa;
}

.orange {
  color: #FF8F00;
}

#header .navigation-sticky, #header #navigation {
  width: 100%;
}

#header #navigation {
  padding: 1.1rem 0;
  background: #fff;
  /*border-bottom: 2px solid #008BFF;*/
  /*border-bottom: 1.5px solid #FF8F00;*/
}

#header .navigation-border {
  /*width: 0%;*/
  width: 100%;
  height: 2.5px;
  position: absolute;
  display: block;
  background: #FF8F00;
}

/*LANGUAGE SELECT*/
.language-content, .language-content:before {
    position: absolute;
    z-index: 5;
}

.language-content {
    width: 12rem;
    margin: 1.5rem 0 0 -9.75rem;
    background: #fff;
    display: none;
    box-sizing: border-box;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 0 0.1rem 0 #333;
    -moz-box-shadow: 0 0 0.1rem 0 #333;
    box-shadow: 0 0 0.1rem 0 #333;
}

.language-content:before {
    content: "";
    width: 0;
    height: 0;
    margin: -0.7rem 1rem 0 0;
    border-style: solid;
    border-width: 0 0.8rem 0.7rem 0.8rem;
    border-color: transparent transparent #aaa transparent;
    right: 0;
}

.language-content ul {
  text-align: left;
}

.language-content ul li {
  margin: 0!important;
  display: block!important;
}

.language-content ul li a {
  display: block;
  padding: 0.5rem 0.9rem;
  font-weight: 400;
}

.language-content ul li a:hover {
  background: #f7f7f7;
}

.language-content ul li a .icon {
  margin: 0 0.4rem 0 0;
}

#header #navigation .content {
  width: 60rem;
  margin: 0 auto;
  display: table;
}

#header .content .element.logo, #header .content .element.featured {
    width:1%;
}

#header .content .element.logo, #header .content .element.featured .locale .loc-shortcut{
  margin: 0.1rem 0 0 0.25rem;
  font-size: 0.87rem;
  font-weight: 500;
}

#header #navigation .content .logo a {
}

#header #navigation .content .logo img {
  height: 1.7rem;
  margin: 0.3rem 0 0 0;
}

#header .content .element{
  display: table-cell;
  vertical-align: middle
}

#header .content .element.mobile-navi-button {
  display: none;
  font-size: 1.5rem!important;
  cursor: pointer;
}

#header #navigation .content nav .menu {
  text-align: center;
}

#header #navigation .content nav .menu li, #header .content .element.featured li {
  display: inline-block;
}

#header #navigation .content nav .menu li:not(:last-child) {
  margin: 0 2rem 0 0;
}

#header .content .element.featured li:not(:last-child) {
  margin: 0 1.5rem 0 0;
}

#header #navigation .content nav .menu li a {
  color: #444;
}

#header #navigation .content nav .menu li a, #header .content .element.featured li a {
  font-size: 1.05rem;
  font-weight: 300;
}

/*featured*/
#header .content .element.featured {
  white-space: nowrap;
  text-align: right;
}

#header #banner {
  width: 100%;
  display: table;
  background-color: #444;
  background-image: url('../img/banner_full.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

#header #banner.page {
  background-image: url('../img/banner.jpg');
  background-repeat: repeat-x;
  background-size: auto 100%;
}

#header #banner.index {
  height: 30rem;
}

#header #banner.page {
  height: 13rem;
}

#header #banner .content {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background-color: rgba(0, 0, 0, 0.35);
}

#header #banner.page .content {
  background-color: rgba(0, 0, 0, 0.20);
}


#header #banner .content h1, #header #banner .content h2 {
  color: #f5f5f5;
  font-weight: 300;
}

#header #banner .content h1 {
  font-size: 2.7rem;
}

#header #banner.index .content h1:after {
  width: 22rem;
  margin: 0.5rem auto 0.3rem;
  content: "";
  display: block;
  border-bottom: 1px solid #f5f5f5;
}

#header #banner .content h2 {
  font-size: 2rem;
}

/*CONTENT SECTION*/
#content .content {
    width: 90rem;
    margin-right: auto;
    margin-left: auto;
}

/*COMPANY FEATURES*/
#content.features .content {
  width: 100%;
  margin-top: 2.5rem;
  text-align: center;
}

/*HEADING*/
#content.features .content.heading h2, #content.features .content.heading h2:after {
  color: #777;
}

#content.features .content.heading {
  display: none;
}

#content.features .content.heading h2 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

#content.features .content.heading h2:after {
  width: 4rem;
  margin: 0.7rem auto 0;
  display: block;
  content: "";
  border-color: #eee;
  border-width: 3px;
  border-style: solid;
}

/*WIDGETS*/
#content.features .content.elements .element {
  width: 15rem;
  display: inline-block;
  vertical-align: top;
}

#content.features .content.elements .element:not(:last-child) {
  margin: 0 4rem 0 0;
}

#content.features .content.elements .element .heading {
}

/*ICONS*/
#content.features .content.elements .element .heading h3:before {
  display: block;
  font-family: FontAwesome;
  color: #888;
  font-size: 1.8rem;
}

#content.features .content.elements .element .heading h3:before, #content.features .content.elements .element .heading h3 {
  margin: 0 0 0.5rem 0;
}

#content.features .content.elements .element.green-energy .heading h3:before {
  content: "\f06c";
}

#content.features .content.elements .element.quality .heading h3:before {
  content: "\f085";
}

#content.features .content.elements .element.pricing .heading h3:before {
  content: "\f06b";
}

#content.features .content.elements .element .heading h3, #content.features .content.elements .element .text {
  font-weight: 300;
}

 #content.features .content.elements .element .heading h3 {
  color: #999;
  font-size: 1rem;
  text-transform: uppercase;

}

#content.features .content.elements .element .text {
  color: #999;
  font-size: 1rem;
  line-height: 1.3rem;
}

/* FOOTER */
#footer {
  width: 60rem;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.5rem;
  text-align: center;
}

#footer .content .row:first-child .element, #footer .content .row:nth-child(2) .element {
  display: inline-block;
}

#footer .content {
  width: 100%;
  padding: 0.65rem 0 0 0;
  margin: auto;
  text-align: center;
  border-top: 1px solid #eee;
}

#footer .content .row:nth-child(1) .element a,
#footer .content .row:nth-child(1) .element span,
#footer .content .row:first-child .element:not(:last-child):after {
  font-weight: 300!important;
}


/*FOOTER LINKS*/
#footer .content .row:first-child .element:not(:last-child):after {
  content: "|";
  margin: 0 0.2rem;
  display: inline-block;
  color: #999;
  font-size: 1.15rem;
}

/*SOCIAL MEDIA*/
#footer .content .row:nth-child(2) {
    margin: 0.7rem 0 0 0;
}

#footer .content .row:nth-child(2) .element:not(:last-child) {
  margin: 0 1rem 0 0;
}

#footer .content .row:nth-child(2) .element a {
  font-size: 1.5rem;
}

/*PAGE DESIGN*/
#page {

}

#page .content {
  width: 70rem;
  margin: 0 auto;
  padding: 1.5rem 0 0;
  text-align: center;
}
