body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

#header #navigation {

}

#header #navigation .menu {

}

#header #navigation .menu li {
  display: inline-block;
}
